body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
    height: 100%;
}

h4 {
    font-family: "SilianRail";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 18px;
        margin: 0;
        font-weight: 400;    
    }
h4:after {
    background: none;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
        -1px 0 1px #c6bb9f,
        0 1px 1px #c6bb9f,
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);      
} 

.weather{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color:white;
}
#goldleaf-one img {
    height: auto;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
#goldleaf-two img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.header-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: radial-gradient( ellipse at center, #484137 0%, #000000 100%);
    border: 10;
    height:100px;
    margin-bottom: 10px;
}

#banner h1 {
    margin-top: 0px;
    font-size: 72px;
    text-align: center;
    margin-top: 0;
    padding: 0;
}
#banner span {
    font-family:"The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 72px;
        margin: 0;
        font-weight: 400;  
}
.banner span:after {
        background: none;
        content: attr(data-heading);
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
      
}

.text-box h2 span {
    font-family:"The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 72px;
        margin: 0;
        font-weight: 400;  
}

.text-box h2 span:after {
    background: none;
        content: attr(data-heading);
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color:goldenrod;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page {
    display:flex;
    flex-direction: row;
    height: 100%;
}

.sidebar-wrapper {
    top: 0%;
    position: sticky;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    width: 155px;
    height: 100vh;
    padding: 20px;
    background-color: rgb(190, 51, 51);
    text-align: center;
}

.sidebar {
    /* position: sticky; */
    /* top: 0;
    left: 0; */
    height:100%;
    background-color: rgb(190, 51, 51);
}

section {
    box-shadow: 15px 10px rgba(0, 0, 0, 0.501);
    border-style: solid;
    border-color: #e1ba64;
    border-width: thick;
    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient( ellipse at center, #484137 0%, #000000 100%);
    color: white;
    font-size: 18px;
    /*margin-left: 200px;
    margin-right: auto;*/
    text-align: center;
    padding: 50px;
    max-width: 75%;
    min-width: 350px;
    width: 50vw;
}

style {
    font-family: 'Times New Roman', Times, serif;
}

.validate {
    font-family: 'Times New Roman', Times, serif;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image-wrapper {
    height: auto;
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-image-wrapper img {
    width: 100%;
}
.manna-pic-rose img {
    border: none;
    margin-left:0;
    margin-top:0;
    max-width: 120px;
    height: auto;
}

.manna-pic {
    width: 50vw;
    min-width: 350px;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.503);
}

.manna-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* #manna-pic-one img {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    height: auto;
}

#manna-pic-two img {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    height: auto;
}

#manna-pic-three {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    height: auto;
    padding: 50px;
}

#manna-pic-four {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    height: auto;
    padding: 50px;
}

#manna-pic-five {
    margin-left: auto;
    margin-right: auto;
    max-width: 975px;
    height: auto;
    padding: 50px;
} */

.btn {
    font-family: 'Times New Roman', Times, serif;
    position: static;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

p {
    font-family:'Times New Roman', Times, serif;
}

.message {
    text-align: left;
}

@media screen and (max-width: 768px) {
img {
max-width: 600px;
}
  }

@media screen and (max-width: 576px) {

}