/*This makes the background look like a picnic basket in css using gradients. */
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
    height: 100%;
}
.bible-body {
    background-image: none;
}
/*This uses gradients to make the text look golden and sets the font style to The Centurion on where h4 is used. */
h4 {
    font-family: "The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 18px;
        margin: 0;
        font-weight: 400;    
    }
h4:after {
    background: none;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
        -1px 0 1px #c6bb9f,
        0 1px 1px #c6bb9f,
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);      
} 
/*This styles the weather section and makes the text box flexible.*/
.weather {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;;
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: black;
    color: white;
    border-color: #e1ba64;
    border-style: solid;
    border-width: thick;
    background: radial-gradient(ellipse at center, #484137 0%, #000000 100%);
    box-shadow: 15px 10px rgba(0, 0, 0, 0.501);
    line-height: 2rem;
    width:75vw;
}

/*This is the wrapper of the header and it makes it flexible and centered and makes the background gradient*/
.header-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: radial-gradient( ellipse at center, #484137 0%, #000000 100%);
    border: 10;
    height: 125px;
    margin-bottom: 10px;
    border-bottom: 10px solid rgb(143, 120, 69)
}

.banner h1 {
    margin-top: 0px;
    font-size: 72px;
    text-align: center;
    margin-top: 0;
    padding: 0;
}
/*This effects the logo and sets it to be Golden.*/
.banner span {
    font-family:"The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 72px;
        margin: 0;
        font-weight: 400;  
}
#banner span:after {
        background: none;
        content: attr(data-heading);
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
      
}

/*This sets the contact us part of the page to golden Centurion text. */
.text-box h2 span {
    font-family:"The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: static;
        font-size: 72px;
        margin: 0;
        font-weight: 400;  
}

.text-box h2 span:after {
    background: none;
        content: attr(data-heading);
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
}
/*This sets the links to white */
a {
    color: white;
    text-decoration: none;
}
/*This sets visited links to the color goldenrod.*/
a:visited {
    color:goldenrod;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page {
    display:flex;
    flex-direction: row;
    height: 100%;
}

/* This sets the sidebar wrapper, the font becomes times new roman or a serif, the background becomes red and it centers the text. */
.sidebar-wrapper {
    display: flex;
    top: 0%;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    min-width: 75px;
    width: 10vw;
    height: 100vh;
    padding: 20px;
    background-color: rgb(190, 51, 51);
    text-align: center;
}

.sidebar {
    height:100%;
    width:100%;
    background-color: rgb(190, 51, 51);
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*This creates an elaborate picnic basket pattern that is made into a divider.*/
.picnic-basket {
    top: 0%;
    position: fixed;
    width: 25px;
    height: 100vh;
    margin-left: 160px;
    background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
        linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
        linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
        background-size: 25px 25px;
}

/*This styles the sections of the page and makes the background gradient and the border gold.*/
section {
    box-shadow: 15px 10px rgba(0, 0, 0, 0.501);
    border-style: solid;
    border-color: #e1ba64;
    border-width: thick;
    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient( ellipse at center, #484137 0%, #000000 100%);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    max-width: 75%;
    min-width: 100px;
    width: 75vw;
}

style {
    font-family: 'Times New Roman', Times, serif;
}

/*This changes the font style in the form.*/
.validate {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*These both style the modal, in font size for the title and in the paragraph content.*/
.modal-content h4 {
    font-size: 24px;
}
.modal-content p {
    font-size: 18px;
}
/*This changes the donations page and makes it so that h2 has underlines.*/
.donations h2 span {
    text-decoration: underline;
}
/* This changes the donation page and centers the images. */
.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-header h3 span {
    text-decoration: underline;
}

/* This is the wrapper for all the images on the donations page and centers them. */ 
.product-image-wrapper {
    height: auto;
    min-width: 100px;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 10px groove #e1ba64;
}
.product-image-wrapper img {
    width: 100%;
}
/*This styles the rose image to left. */ 
.manna-pic-rose img {
    border: none;
    margin-left:0;
    margin-top:0;
    max-width: 120px;
    height: auto;
}

/*This styles the images and adds box shadows.*/
.manna-pic {
    width: 75vw;
    box-shadow: 15px 10px rgba(0, 0, 0, 0.503);
    margin-bottom: 50px;
}

/*This makes the image fit inside its parent. */
.manna-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*This styles the modal button and places it in the middle of the screen.*/
.btn {
    font-family: 'Times New Roman', Times, serif;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: auto;
    height: auto;
}

.modal-trigger {
    margin-top: 25px;
}
/*This styles the fonts on the paragraphs.*/
p {
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
}

/*This puts padding on the links. */
a {
    padding: 5px;
}
.message {
    text-align: left;
}
/*This styles the colum image and sets it to the right as a fixed image.*/
.column {
    position: fixed;
    right: 0;
    top:0;
    margin-left:1400px;
    margin-top:0;
}
/*This makes the bible font golden and adds a border and styles the bible. */
.bible {
    background: radial-gradient(ellipse at center, #484137 25%, #000000 100%);
    border: 15px groove #e1ba64;
    color: white;
    padding: 100px;
}    
.bible p {    
    font-family: "The Centurion";
    src: url(./TheCenturion.ttf);
    background: linear-gradient(to bottom, 
    #cfc09f 22%,#634f2c 24%,#cfc09f 26%,
    #cfc09f 27%,#ffecb3 40%,#73571e 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
        color: #fff;
        position: relative;
        font-size: 24px;
        margin: 0;
        font-weight: 400;    
}
.bible:after {
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
        -1px 0 1px #c6bb9f,
        0 1px 1px #c6bb9f,
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);      
} 
/*This changes the font size on the translation section of the Bible page. */
.translation p {
    font-size: 36px;
}
/* This sets the home link on the Bible page to relative and underlines it. */
.home-link {
    position: relative;
    text-decoration: underline;
    font-size: 24px;

}
/*Below is a list of media queries which scale and style the pages to fit mobile devices. */
@media screen and (max-width:1620px) {
    .column {
        display:none;
    }
    .picnic-basket {
        display:none;
    }
}
@media screen and (max-width: 820px) {
    .text-box h2 {
        font-size: 48px;
    }
    .text-box h2 span {
        font-size: 48px;
    }
    section {
        width: 75vw;
    }
    .sidebar-wrapper {
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        bottom: 0;
        top: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    nav.sidebar {
        flex-direction:row;
        width: 100vw;
        justify-content: left;
        align-items: left;
    }
    .picnic-basket {
        display:none;
    }
    .manna-pic-rose {
        margin-top: 20px;
    }
    .manna-pic {
        width: 75vw;
    }
    .column {
        display:none;
    }
}
.bible-banner {
    background: none;
}

.map {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer p {
    font-size: 16px;
    text-align: center;
    background-color: #000000;
    color: white;
}
@media screen and (max-width: 768px) {
    section {
        width: 75vw;
    }
    .sidebar-wrapper {
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        bottom: 0;
        top: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    nav.sidebar {
       flex-direction: row;
       width: 100vw;
       justify-content: left;
       align-items: left;
    } 
    .picnic-basket {
        display: none;
    } 
    .manna-pic-rose {
        margin-top: 20px;
    }
    .manna-pic {
        width:75vw;
    }    
    .column {
        display: none;
    }
}
@media screen and (max-width: 540px) {
    .banner h1 {
        margin-top: 25px;
        font-size: 54px;
    }
    .banner span {
        font-size: 54px;
    }
}

@media screen and (max-width: 414px) {
    .donations h2 span {
        font-size: 24px;
    }
    .bible {
        padding: 20px;
    } 
    .banner h1 {
        margin-top: 25px;
        font-size: 42px;
    }
    .banner span {
        font-size: 42px;
    }
    .text-box h2 {
        font-size: 26px;
    }
    .text-box h2 span {
        font-size: 26px;
    }
    .product-header h3 {
        font-size: 24px;
        width:auto;
    }
    .sidebar-wrapper {
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        bottom: 0;
        top: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    nav.sidebar {
       flex-direction: row;
       width: 100vw;
       justify-content: center;
       align-items: center;
    } 
    section {
        padding:0;
        margin-bottom: 50px;
    }
    .manna-pic-rose img {
        display: none;
    }
    .manna-pic {
        width: 75vw;
    }
    .weather {
        text-align: center;
        padding: 0px 0px;
    }  
    .column {
        display: none;
    }  
    picnic-basket {
        display: none;
    }
    .map {
        display:none;
    }
}
@media screen and (max-width: 360px) {
    .banner h1 {
        margin-top: 50px;
        font-size: 32px;
    }
    .banner span {
        font-size: 32px;
    }
    .sidebar-wrapper {
        font-size: 18px;
    }
}